body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

section {
    width: 60%;
    margin: 50px auto;
    line-height: 1.6;
}

a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
