body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 40px 20px;
}

h1 {
  text-align: center;
}

p {
  line-height: 1.6;
}

section {
  background-color: #ffffff;
  padding: 20px;
  margin: 30px 0;
  border-radius: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 6px 0;
}

a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  margin: 40px 0;
  font-size: 14px;
  color: #666;
}

.skills-container {
    display:flex;
    gap: 40px;
    flex-wrap: wrap;
}

.dark-mode {
  background-color: #121212;
  color: #f5f5f5;
}

.dark-mode section {
  background-color: #1e1e1e;
}


@media (max-width: 600px) {
  main {
    padding: 20px 10px;
  }
 section {
    padding: 15px;
  }
.skills-container {
    flex-direction: column;
    gap: 20px;
  }
h1 {
    font-size: 24px;
  }         
}